<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                       http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
 <display-name>Sistema Universitario</display-name>
 <description>Ejemplo de Mapeo Relacional Objeto</description>
 <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/context.xml</param-value>
 </context-param>
 <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
 </listener>
 <servlet>
   <servlet-name>InsertarProfesor</servlet-name>
   <servlet-class>display.InsertarProfesor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarProfesor</servlet-name>
   <servlet-class>display.ActualizarProfesor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarProfesor</servlet-name>
   <servlet-class>display.EliminarProfesor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleProfesor</servlet-name>
   <servlet-class>display.DetalleProfesor</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaProfesores</servlet-name>
   <servlet-class>display.ListaProfesores</servlet-class>
 </servlet>
  <servlet-mapping>
 <servlet-name>InsertarProfesor</servlet-name>
   <url-pattern>/universidad/agregarProfesor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarProfesor</servlet-name>
   <url-pattern>/universidad/actualizarProfesor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarProfesor</servlet-name>
   <url-pattern>/universidad/eliminarProfesor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleProfesor</servlet-name>
   <url-pattern>/universidad/detalleProfesor</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ListaProfesores</servlet-name>
   <url-pattern>/universidad/listaProfesores</url-pattern>
 </servlet-mapping>
  <servlet>
   <servlet-name>InsertarGrupo</servlet-name>
   <servlet-class>display.InsertarGrupo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ActualizarGrupo</servlet-name>
   <servlet-class>display.ActualizarGrupo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>EliminarGrupo</servlet-name>
   <servlet-class>display.EliminarGrupo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>DetalleGrupo</servlet-name>
   <servlet-class>display.DetalleGrupo</servlet-class>
 </servlet>
 <servlet>
   <servlet-name>ListaGrupos</servlet-name>
   <servlet-class>display.ListaGrupos</servlet-class>
 </servlet>
  <servlet-mapping>
 <servlet-name>InsertarGrupo</servlet-name>
   <url-pattern>/universidad/agregarGrupo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ActualizarGrupo</servlet-name>
   <url-pattern>/universidad/actualizarGrupo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>EliminarGrupo</servlet-name>
   <url-pattern>/universidad/eliminarGrupo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>DetalleGrupo</servlet-name>
   <url-pattern>/universidad/detalleGrupo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ListaGrupos</servlet-name>
   <url-pattern>/universidad/listaGrupos</url-pattern>
 </servlet-mapping>
</web-app>